:root {
    /* members */
    --s01: #17A7FE;
    --s02: #8801FF;
    --s04: #98C649;
    --s05: #D10A70;
    --s06: #FC83A5;
    --s07: #6599A4;
    --s10: #FBA0E3;
    --s11: #FEE002;
    --s12: #5974FF;
    --s13: #FF953F;
    --s14: #1222B5;
    --s15: #D51312;
    --s16: #FE8E76;
    --s17: #AB63B4;
    --s19: #52D8BB;
    --s20: #FF428A;
    --s21: #C7A4DC;
    --s22: #7BBA8D;
    --s24: #FFAB62;

    /* black txt */
    --s23: #CFF3FF;
    --s18: #B7F54C;
    --s08: #FFE3E2;
    --s09: #FFC936;
    --s03: #FFFC02;

    /* albums */
    --acidangelfromasia: #ED0B57;
    --assemble: #000000;
    --krystaleyes: #F9ACA4;
    --lovelution: #008DFF;
    --evolution: #C43E33;
    --aria: #C9A3C8;
    --nxt: #383838;
    --glow: #F2A9C9;
    --visionaryvision: #E16947;
    --hachi: #D7606E;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Regular.otf) format('truetype') font-weight-normal,
        url(/fonts/Pretendard-Black.otf) format('truetype') font-weight-black,
        url(/fonts/Pretendard-ExtraBold.otf) format('truetype') font-weight-extrabold,
        url(/fonts/Pretendard-ExtraLight.otf) format('truetype') font-weight-extralight,
        url(/fonts/Pretendard-Bold.otf) format('truetype') font-weight-bold;
}

#name-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 74px;
    color: white;
    font-size: 24px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    word-wrap: break-word
}

#member-card {
    display: flex;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.member-name {
    font-weight: bold;
    font-size: xx-large;
    padding: 20px;
    color: white;
    font-family: 'Pretendard', sans-serif;
    z-index: 1;
    text-align: left;
    align-self: flex-end;
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}