

#seoyeon {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 74px;
    background: #17A7FE;
    color: white;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 700;
    word-wrap: break-word
}