:root {
    /* members */
    --s01: #17A7FE;
    --s02: #8801FF;
    --s03: #FFFC02;
    /* black txt */
    --s04: #98C649;
    --s05: #D10A70;
    --s06: #FC83A5;
    --s07: #6599A4;
    --s08: #FFE3E2;
    /* black txt */
    --s09: #FFC936;
    /* black txt */
    --s10: #FBA0E3;
    --s11: #FEE002;
    --s12: #5974FF;
    --s13: #FF953F;
    --s14: #1222B5;
    --s15: #D51312;
    --s16: #FE8E76;
    --s17: #AB63B4;
    --s18: #B7F54C;
    /* black txt */
    --s19: #52D8BB;
    --s20: #FF428A;
    --s21: #C7A4DC;
    --s22: #7BBA8D;
    --s23: #CFF3FF;
    /* black txt */
    --s24: #FFAB62;
    /* albums */
    --acidangelfromasia: #ED0B57;
    --assemble: #000000;
    --krystaleyes: #F9ACA4;
    --lovelution: #008DFF;
    --evolution: #C43E33;
    --aria: #C9A3C8;
    --nxt: #383838;
    --glow: #F2A9C9;
    --visionaryvision: #E16947;
    --hachi: #D7606E;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Regular.otf) format('truetype') font-weight-normal,
        url(/fonts/Pretendard-Bold.otf) format('truetype') font-weight-bold,
        url(/fonts/Pretendard-Bold-Italic.otf) format('truetype') font-italic font-weight-bold;
}

#name-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 74px;
    color: white;
    font-size: 24px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    word-wrap: break-word
}

#member-card {
    display: flex;
    width: 278px;
    height: 371px;
    padding: 310px 95px 20px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.80) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: inherit;
}